button,#id_image {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size:15px;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

img {
    border-radius: 50%;
}


#forma {

text-align:center;
width:40%;
margin: auto;


}
