.ponudbaSlika {
    height: 200px;
}

hr {
    margin: 0;
}

.btn {
    padding-top: 0;
    padding-bottom: 0;
}

.form-group {
    margin-bottom: 0;
}

.form-control {
    display: inline;
    width: auto;
    height: auto;
    padding: 0;
}