{% extends "konj/uporabnik_base.html" %}

{% load static %}

{% block imports %}
<link rel="stylesheet" type="text/css" href="{% static 'konj/dodaj_slika/dodaj_slika.css' %}">
{% endblock %}

{% block body %}
<div id="forma">
<h5>Trenutna profilna slika: </h5><br>
    <img id="{{ profilna_slika }}" src="{% static profilna_slika %}"  width="300" height="300" alt="Ni slike">

<br><br><br>
{% load static %}
<h5>Zamenjaj profilno sliko: </h5>
<form action="{% url 'konj:upload' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <p>
        <h6>1. Najprej izberite sliko:</h6>
        <input id="id_image" type="file" class="" name="image">
    </p>
    <h6>2. Nato je oddate:</h6>
    <div class="row justify-content-center">
        <button type="submit" value="Submit" class="btn btn-primary" /> Dodaj sliko </button>
    </div>
</form><br>

</div>
{% endblock %}