{% extends "konj/uporabnik_base.html" %}

{% load static %}

{% block imports %}
<link rel="stylesheet" type="text/css" href="{% static 'konj/dodaj_slika_konj/dodaj_slika.css' %}">
{% endblock %}

{% block body %}
<script src="{% static 'konj/dodaj_slika_konj/dodaj_slika.js' %}"></script>

<div id="forma">
    {% load static %}
    <h5>Dodaj sliko konju: </h5>
    <form action="{% url 'konj:upload_konj' id=ID_Konja %}" method="post" enctype="multipart/form-data">{% csrf_token %}
         <p>
            <h6>1. Najprej izberite sliko:</h6>
            <input id="id_image" type="file" class="" name="image">
        </p>
        <h6>2. Nato jo oddate:</h6>
        <div class="row justify-content-center">
            <button type="submit" value="Submit" class="btn btn-primary" /> Dodaj sliko </button>
        </div>
    </form><br>
</div>
<h4>Če želite odstraniti sliko, morate klikniti na željeno sliko in potrditi odstranitev.</h4>
<br>



<h3>Že dodane slike: </h3><br>

{% for s, id in sez_slik %}
    <img  id="{{ s }}" src="{% static s %}"  width="200" height="200" alt="My image" onclick="izbrisi('{{ id }}')">
{% endfor %}
{% endblock %}