{% extends "konj/uporabnik_base.html" %}

{% load static %}

{% block imports %}
<link rel="stylesheet" type="text/css" href="{% static 'konj/dodaj_konja/dodaj_konja.css' %}">
{% endblock %}

{% block body %}
<div id="forma">
<form name="form" method='POST' enctype=multipart/form-data action="javascript:dodaj()">

  <div class="container">
    <h1>Dodaj ponudbo</h1>
    <p>Izpolnite podatke, da lahko dodate ponudbo. <br> Vsi atributi kateri imajo <font color="red">*</font> so za vnos obvezni.</p>
    <hr> <br>

    <h3>Osnovni podatki </h3><br>

       <label for="konj_ime"><b>Ime konja<font color="red">*</font></b></label><br>
            <input type="text" placeholder="Vnesite ime konja" maxlength="150" id="konj_ime" name="konj_ime" required>


        <label for="starost"><b>Vnesite starost konja v mesecih<font color="red">*</font></b></label><br>
            <input type="number" placeholder="Vnesite starost " maxlength="150" id="starost" name="starost" required>


        <label for="visinaID"><b>Vnesite višino konja(cm)<font color="red">*</font></b></label><br>
            <input type="text" placeholder="Vnesite celoštevilsko vrednost v cm. " maxlength="150" id="visinaID" name="visinaID" required>

        <label for="cena"><b>Vnesite ceno konja<font color="red">*</font></b></label><br>
            <input type="text" placeholder="Vnesite celoštevilsko vrednost v €. " maxlength="150" id="cena" name="cena" required>


      <b>Označite vse kategorije v katere spada konj<font color="red">*</font></b> <br>
          {% for kategorija in kategorije %}

            <input type="checkbox" name="kategorija" value="{{ kategorija.kategorijaID }}"> {{ kategorija.imeKategorije }} <br>
          {% endfor %}
          <br><br>

      <h3>Pasma </h3><br>
        <label for="pasmaID"><b>Pasma konja<font color="red">*</font></b></label>
            <select id="pasmaID" class="izbira">
                <option value="-1"> Pritisnite da izberete pasmo konja</option>
                {% for pasma in pasma %}
                    <option value="{{ pasma.pasmaID }}"> {{ pasma.pasmaIme }} </option>
                {% endfor %}
            </select>


      <h3>Podrobnejši podatki </h3><br>
      <label for="rodovnik_bool"><b>Ima rodovnik<font color="red">*</font></b></label>
            <select id="rodovnik_bool" class="izbira">
                <option value="-1"> Pritisnite da izberete rodovnik</option>
                <option value="1">Da</option>
                <option value="0">Ne</option>

            </select>


      <p> <b>Če ste pri rodovniku izbrali "Da" morate obvezno dodati sliko rodovnika.</b> </p>
       <!-- <input id="image" type="file" class="" name="image">!-->
      <input type="file" id="image_to_upload"/>


      <h3>Jahljivost </h3><br>
        <label for="jahljivost"><b>Je jahljiv<font color="red">*</font></b></label>
            <select id="jahljivost" class="izbira">
                <option value="-1"> Pritisnite da izberete jahljivost</option>
                {% for jahljivost in jahljivost %}
                    <option value="{{ jahljivost.jahljivostID }}">{{ jahljivost.imeJahljivosti }}</option>
                {% endfor %}
            </select>

      <h3>Rokovanje </h3><br>
        <label for="rokovanje"><b>Je rokljiv<font color="red">*</font></b></label>
            <select id="rokovanje" class="izbira">
                <option value="-1"> Pritisnite da izberete rokljivost</option>
                {% for rokovanje in rokovanje %}
                    <option value="{{ rokovanje.rokovanjeID }}">{{ rokovanje.imeRokovanja }}</option>
                {% endfor %}
            </select>

    <h3>Opis </h3><br>
      <label for="konj_opis"><b>Opis konja <font color="red">*</font></b></label>
            <label class="textareaContainer">
             <textarea placeholder="Na kratko opišite konja." maxlength="1000" id="konj_opis"></textarea>
            </label>

    <h3>Stanje konja </h3><br>
      <label for="poskodbe"><b>Opis poškodb</b></label>
            <label class="textareaContainer">
             <textarea placeholder="Na kratko opišite poškodbe konja če jih ima." maxlength="500" id="poskodbe"></textarea>
            </label>
      <label for="bolezni"><b>Opis bolezni</b></label>
            <label class="textareaContainer">
             <textarea placeholder="Na kratko opišite bolezni konja če jih ima." maxlength="500" id="bolezni"></textarea>
            </label>
       <label for="rezultati"><b>Rezultati</b></label>
            <label class="textareaContainer">
             <textarea placeholder="Tukaj dodajte link do rezultatov, če jih konj ima." maxlength="500" id="rezultati"></textarea>
            </label>
       <label for="link_konjeniska_zveza"><b>Konjeniška zveza</b></label>
            <label class="textareaContainer">
          <textarea placeholder="Tukaj dodajte link do konjeniške zveze." maxlength="500" id="link_konjeniska_zveza"></textarea>
            </label>
      <b>Označite na katerih pregledih je že bil konj <font color="red">*</font></b> <br>
          {% for pregled in pregledi %}

            <input type="checkbox" name="pregled" value="{{ pregled.vrstaPregledaID }}"> {{ pregled.imePregleda }} <br>
          {% endfor %}
          <br><br>


     <h3>Lokacija </h3><br>
        <label for="regijaID"><b>Regija konja<font color="red">*</font></b></label>
            <select id="regijaID" class="izbira">
                <option value="-1"> Pritisnite da izberete regijo konja</option>
                {% for regija in regije %}
                    <option value="{{ regija.regijaID }}"> {{ regija.imeRegije }} </option>
                {% endfor %}
            </select>

<h3>Lastnik<font color="red">*</font></h3><br>
      <label for="lastnik"><b>Izberite "Da", če ste lastnik konja<font color="red">*</font></b></label>
            <select id="lastnik" class="izbira">
                <option value="1">Da</option>
                <option value="0">Ne</option>
            </select>
    <p id="status" style="text-align:center"></p>
    <div class="row justify-content-center">
        <button type="submit" class="btn btn-primary" id="dodaj">Dodaj konja</button>
    </div>
  </div>

</form>
</div>
<script src="{% static 'konj/dodaj_konja/dodaj_konja.js' %}"></script>
{% endblock %}
