{% extends "konj/base.html" %}

{% load static %}

{% block imports %}
<link rel="stylesheet" href="{% static 'konj/info/info.css' %}">
{% endblock %}

{% block body %}
<div class="container my-3">
    <div class="row">
        <div class="col-12 col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5>Podatki o konju</h5>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">Ime</div>
                        <div class="col">{{ ponudba.konj.imeKonja }}</div>
                    </div>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">Starost</div>
                        <div class="col">{{ ponudba.konj.starostKonja }}</div>
                    </div>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">Teža</div>
                        <div class="col">{{ ponudba.konj.tezaKonja }}</div>
                    </div>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">Višina</div>
                        <div class="col">{{ ponudba.konj.visinaKonja }}</div>
                    </div>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">Rokovanje</div>
                        <div class="col">{{ ponudba.konj.rokovanje.imeRokovanja }}</div>
                    </div>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">Jahljivost</div>
                        <div class="col">{{ ponudba.konj.jahljivost.imeJahljivosti }}</div>
                    </div>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">Pasma</div>
                        <div class="col">{{ ponudba.konj.pasma.imePasme }}</div>
                    </div>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">Kategorije</div>
                        <div class="col">
                            {% for kategorija in ponudba.konj.kategorije %}
                                {% if not forloop.last %}
                                    {{ kategorija.imeKategorije }},
                                {% else %}
                                    {{ kategorija.imeKategorije }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">Regija</div>
                        <div class="col">{{ ponudba.konj.imeRegije }}</div>
                    </div>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">Konjeniška zveza</div>
                        <div class="col">{{ ponudba.konj.linkOdKonjeniskeZveze }}</div>
                    </div>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">Opis konja:</div>
                    </div>
                    <div class="row mx-1">
                        <div class="col">{{ ponudba.konj.opisKonja }}</div>
                    </div>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">Rezultati:</div>
                    </div>
                    <div class="row mx-1">
                        <div class="col">{{ ponudba.konj.rezultati }}</div>
                    </div>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">Poskodbe:</div>
                    </div>
                    <div class="row mx-1">
                        <div class="col">{{ ponudba.konj.poskodbe }}</div>
                    </div>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">Bolezni:</div>
                    </div>
                    <div class="row mx-1">
                        <div class="col">{{ ponudba.konj.bolezni }}</div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5>Ponudba</h5>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">Cena</div>
                        <div class="col">{{ ponudba.ponudba.cena }}€</div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-body">
                    <h5>Ponudnik</h5>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">Ime</div>
                        <div class="col">{{ ponudba.oseba.imeOsebe }}</div>
                    </div>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">Priimek</div>
                        <div class="col">{{ ponudba.oseba.priimekOsebe }}</div>
                    </div>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">email</div>
                        <div class="col">{{ ponudba.oseba.ePostniNaslov }}</div>
                    </div>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">tel</div>
                        <div class="col">{{ ponudba.oseba.telefonskaStevilka }}</div>
                    </div>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">Regija</div>
                        <div class="col">{{ ponudba.oseba.naslov.imeRegije }}</div>
                    </div>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">Kraj</div>
                        <div class="col">{{ ponudba.oseba.naslov.imeKraja }}</div>
                    </div>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">Ulica</div>
                        <div class="col">{{ ponudba.oseba.naslov.ulica }}</div>
                    </div>
                    <hr>
                    <div class="row mx-1">
                        <div class="col">Hišna številka</div>
                        <div class="col">{{ ponudba.oseba.naslov.hisnaStevilka }}</div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5>Slike</h5>
                    {% for slika in ponudba.konj.slike %}
                        <div class="row justify-content-center py-3">
                            <div class="col">
                                <img src="{{ slika }}" class="img-fluid" alt="slika">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}