{% extends "konj/login_register_base.html" %}

{% load static %}

{% block imports %}
<link rel="stylesheet" type="text/css" href="{% static 'konj/login/login.css' %}">
{% endblock %}

{% block body %}
<script src="{% static 'konj/login/login.js' %}"></script>

<div id="forma">
    <form method='POST' action="javascript:login()">
                {% csrf_token %}
            <div class="imgcontainer" id=naslov>
                <h2>Prijava</h2>
            </div>

            <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" id="usr" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="pss" required>

            <div class="row justify-content-center">
                <!-- <button type="submit" class="registerbtn" onclick="login();">Prijava</button> -->
                <button type="submit" class="btn btn-primary" onclick="login();">Prijava</button>
            </div>

            </div>

            <div class="container" id="status" style="color:red; text-align: center; background-color:#f1f1f1">
            </div>
            <p><center>Še nimate računa? <a href="{% url 'konj:registration' %}" >Registracija</a></center></p>
        </form>
</div>
{% endblock %}