{% extends "konj/uporabnik_base.html" %}

{% load static %}

{% block imports %}
<link rel="stylesheet" type="text/css" href="{% static 'konj/profil/profil.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'konj/uporabnik_index/uporabnik_index.css' %}"> -->
{% endblock %}

{% block body %}
<script src="{% static 'konj/uporabnik_index/uporabnik_index.js' %}"></script>

<div id="forma">
<form method='POST' action="javascript:reg()">
  <div class="container">
    <h1>Vaš profil</h1>
    <p>Tukaj lahko spremenite svoje podatke</p>
    <hr>

    <label for="Ime"><b>Ime</b></label>
    <input type="text" value="{{ Ime }}" id="Ime">

    <label for="Priimek"><b>Priimek</b></label>
    <input type="text" value="{{ Priimek }}" id="Priimek" required>

    <label for="Up ime"><b>Uporabniško ime</b></label>
    <input type="text" value="{{ UpIme }}" id="UpIme" required>

    <label for="email"><b>Email</b></label>
    <input type="email" value="{{ mail }}" id="email" required>

        <label for="opis"><b>Kratek opis o vas</b></label>
    <input type="text" value="{{ opis }}" id="opis" required>


    <label for="geslo"><b>Novo geslo</b></label>
    <input type="password" placeholder="Vnesite geslo" id="geslo">

    <label for="geslo_ponovno"><b>Ponovite novo geslo</b></label>
    <input type="password" placeholder="Ponovite geslo" id="geslo_ponovno">
    <hr>

    <label for="geslo"><b>Trenutno geslo</b></label>
    <input type="password" placeholder="Vnesite geslo" id="trenutno_geslo" required>

    <p id="status" style="text-align:center"></p>
    <div class="row justify-content-center">
      <button type="submit" class="btn btn-primary">Spremenite podatke</button>
    </div>
  </div>
</form>
<p></p>
<div class="row justify-content-center">
  <button type="submit" class="btn btn-danger" onclick="del()">Izbriši me</button>
</div>
<p></p>
</div>
<script src="{% static 'konj/profil/profil.js' %}"></script>
{% endblock %}

