{% extends "konj/login_register_base.html" %}

{% load static %}

{% block imports %}
<link rel="stylesheet" type="text/css" href="{% static 'konj/registration/registration.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'konj/uporabnik_index/uporabnik_index.css' %}"> -->
{% endblock %}

{% block body %}
<script src="{% static 'konj/uporabnik_index/uporabnik_index.js' %}"></script>

<div id="forma">
<form method='POST' action="javascript:reg()">
  <div class="container">
    <h3>Registracija</h3>
    <p>Izpolnite podatke, da se lahko registrirate v sistem.</p>
    <hr>

    <label for="Ime"><b>Ime</b></label>
    <input type="text" placeholder="Vnesite ime" id="Ime" required>

    <label for="Priimek"><b>Priimek</b></label>
    <input type="text" placeholder="Vnesite priimek" id="Priimek" required>

    <label for="UpIme"><b>Uporabniško ime</b></label>
    <input type="text" placeholder="Vnesite uporabniško ime" id="upime" required>

    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Vnesite Email" id="email" required>

    <label for="tel"><b>Tel</b></label>
    <input type="text" placeholder="Vnesite Tel" id="tel" required>

    <label for="opis"><b>Kratek opis o vas</b></label>
    <input type="text" placeholder="Opisite se" id="opis" required>

    <label for="geslo"><b>Geslo</b></label>
    <input type="password" placeholder="Vnesite geslo" id="geslo" required>

    <label for="geslo_ponovno"><b>Ponovite geslo</b></label>
    <input type="password" placeholder="Ponovite geslo" id="geslo_ponovno" required>
    <hr>
    <p id="status" style="text-align:center"></p>

    <div class="row justify-content-center">
      <!-- <button type="submit" class="registerbtn">Registracija</button> -->
      <button type="submit" class="btn btn-primary">Registracija</button>
    </div>

    <p><center>Že imate račun? <a href="{% url 'konj:login' %}" >Prijava</a></center></p>
  </div>

</form>
</div>
<script src="{% static 'konj/registration/registration.js' %}"></script>
{% endblock %}