{% for res in res %}
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div class="card ponudbaSlika d-flex justify-content-center align-items-center">
                        {% if res.konj.slika %}
                            <img src="{{ res.konj.slika }}" class="img-fluid" alt="slika konja">
                        {% else %}
                            <label class="p-2">Ni slike</label>
                        {% endif %}
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-6">
                            <div>
                                Ime: {{ res.konj.imeKonja }}
                            </div>
                            <hr/>
                            <div>
                                {% if res.konj.starostKonja != -1 %}
                                    Starost: {{ res.konj.starostKonja }} mes
                                {% else %}
                                    Starost:
                                {% endif %}
                            </div>
                            <hr/>
                            <div>
                                {% if res.konj.tezaKonja != -1 %}
                                    Teža: {{ res.konj.tezaKonja }} kg
                                {% else %}
                                    Teža:
                                {% endif %}
                            </div>
                            <hr/>
                            <div>
                                {% if res.konj.visinaKonja != -1 %}
                                    Višina: {{ res.konj.visinaKonja }} cm
                                {% else %}
                                    Višina:
                                {% endif %}
                            </div>
                            <hr/>
                            <div>
                                Pasma: {{ res.konj.pasma.imePasme }}
                            </div>
                            <hr/>
                            <div>
                                Rokovanje: {{ res.konj.rokovanje.imeRokovanja }}
                            </div>
                            <hr/>
                            <div>
                                Jahljivost: {{ res.konj.jahljivost.imeJahljivosti }}
                            </div>
                        </div>
                        <div class="col-6 d-flex flex-column">
                            <div>
                                Regija: {{ res.konj.regija.imeRegije }}
                            </div>
                            <hr/>
                            <div>
                                Kategorije: 
                                {% for kategorija in res.konj.kategorije %}
                                    {% if not forloop.last %}
                                        {{ kategorija.imeKategorije }},
                                    {% else %}
                                        {{ kategorija.imeKategorije }}
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="mt-4">
                                Ponudnik: {{ res.oseba.imeOsebe }} {{ res.oseba.priimekOsebe }} 
                            </div>
                            <hr/>
                            <div>
                                Cena: {{ res.ponudba.cena }} €
                            </div>
                            <div class="d-flex justify-content-end mt-auto">
                                <button type="button" class="btn btn-primary" onclick="info({{ res.ponudba.ponudbaID }})">Ogled ponudbe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}