{% extends "konj/uporabnik_base.html" %}

{% load static %}

{% block imports %}
<link rel="stylesheet" type="text/css" href="{% static 'konj/spremeni_konja/spremeni_konja.css' %}">
{% endblock %}

{% block body %}
<div id="forma">
<form name="form" method='POST' enctype=multipart/form-data action="javascript:dodaj('{{ konj.konjID }}')">
  <div class="container">
    <h1>Spremeni ponudbo</h1>
    <p>Izpolnite tiste podatke katere želite spremeniti pri konju</p>
    <hr> <br>

    <h3>Osnovni podatki </h3><br>

        <label for="konj_ime"><b>Ime konja<font color="red">*</font></b></label><br>
            <input type="text" value={{ konj.imeKonja }} maxlength="150" id="konj_ime" required>

        <label for="visinaID"><b>Vnesite višino konja(cm)<font color="red">*</font></b></label><br>
            <input type="number" value={{ konj.visinaKonja }} maxlength="150" id="visinaID" required>

        <label for="starost"><b>Vnesite starost konja v letih<font color="red">*</font></b></label><br>
            <input type="number" value={{ konj.starostKonja }} maxlength="150" id="starost" required>

        <label for="cena"><b>Vnesite ceno konja<font color="red">*</font></b></label><br>
            <input type="text"  value={{ ponudba.cena }}  maxlength="150" id="cena" name="cena" required>



      <b>Označite vse kategorije v katere spada konj<font color="red">*</font></b> <br>

            {% for kategorija,spada in kategorije %}
                {% if spada %}
                       <input type="checkbox" name="kategorija" value="{{ kategorija.kategorijaID }}" checked> {{ kategorija.imeKategorije }} <br>
                {% else %}
                        <input type="checkbox" name="kategorija" value="{{ kategorija.kategorijaID }}"> {{ kategorija.imeKategorije }} <br>
                {% endif %}
          {% endfor %}
          <br><br>
      <h3>Pasma </h3><br>
        <label for="pasmaID"><b>Pasma konja<font color="red">*</font></b></label>
            <select id="pasmaID" class="izbira">
                <option value="{{ trenutna_pasma.pasmaID }}">{{ trenutna_pasma.pasmaIme }} </option>
                {% for pasma in pasma %}
                    <option value="{{ pasma.pasmaID }}"> {{ pasma.pasmaIme }} </option>
                {% endfor %}
            </select>


        <!--<label for="opis_pasma"><b>Kratek opis pasme konja<font color="red">*</font></b></label>
          <br>
          <label class="textareaContainer">
             <textarea placeholder="Vnesite katere značilnosti pasme ima vaš konj" maxlength="150" id="opis_pasma"></textarea>
          </label>
        <br>!-->

      <h3>Podrobnejši podatki </h3><br>
      <!--<label for="rodovnik_bool"><b>Ima rodovnik<font color="red">*</font></b></label>
            <select id="rodovnik_bool" class="izbira">

                {% if konj.rodovnikID_id == 1 %}
                    <option value="1">Da</option>
                    <option value="0">Ne</option>
                {% endif %}

                {% if konj.rodovnikID_id == 0 %}
                    <option value="0">Ne</option>
                    <option value="1">Da</option>
                {% endif %}

            </select>
       !-->


      <h3>Jahljivost </h3><br>
        <label for="jahljivost_bool"><b>Je jahljiv<font color="red">*</font></b></label>
            <select id="jahljivost_bool" class="izbira">

                {% if jahljivost.imeJahljivosti == "Manj" %}
                    <option value="Manj">Manj</option>
                    <option value="Srednje">Srednje</option>
                    <option value="Zelo">Zelo</option>
                {% endif %}

                {% if jahljivost.imeJahljivosti == "Srednje" %}
                    <option value="Srednje">Srednje</option>
                    <option value="Manj">Manj</option>
                    <option value="Zelo">Zelo</option>
                {% endif %}

                {% if jahljivost.imeJahljivosti == "Zelo" %}
                    <option value="Zelo">Zelo</option>
                    <option value="Manj">Manj</option>
                    <option value="Srednje">Srednje</option>
                {% endif %}

            </select>

        <label for="jahljivost_opis"><b>Jahljivost konja</b></label>
            <label class="textareaContainer">
             <textarea placeholder="Na kratko opišite jahljivost konja." maxlength="50" id="jahljivost_opis">{{ jahljivost.jahljivostOpis }}</textarea>
          </label>

      <h3>Rokovanje </h3><br>
        <label for="rokovanje_bool"><b>Je rokljiv<font color="red">*</font></b></label>
            <select id="rokovanje_bool" class="izbira">
                {% if rokovanje.imeRokovanja == "Manj" %}
                    <option value="Manj">Manj</option>
                    <option value="Srednje">Srednje</option>
                    <option value="Zelo">Zelo</option>
                {% endif %}

                {% if rokovanje.imeRokovanja == "Srednje" %}
                    <option value="Srednje">Srednje</option>
                    <option value="Manj">Manj</option>
                    <option value="Zelo">Zelo</option>
                {% endif %}

                {% if rokovanje.imeRokovanja == "Zelo" %}
                    <option value="Zelo">Zelo</option>
                    <option value="Manj">Manj</option>
                    <option value="Srednje">Srednje</option>
                {% endif %}

            </select>
        <label for="rokovanje_opis"><b>Rokovanje konja</b></label>
            <label class="textareaContainer">
             <textarea placeholder="Na kratko opišite rokljivost konja." maxlength="150" id="rokovanje_opis">{{ rokovanje.rokovanjeOpis }}</textarea>
            </label>

    <h3>Opis </h3><br>
      <label for="konj_opis"><b>Opis konja<font color="red">*</font></b></label>
            <label class="textareaContainer">
             <textarea maxlength="1000" id="konj_opis">{{ konj.opisKonja }}</textarea>
            </label>

    <h3>Stanje konja </h3><br>
      <label for="poskodbe"><b>Opis poškodb</b></label>
            <label class="textareaContainer">
             <textarea placeholder="Na kratko opišite poškodbe konja če jih ima." maxlength="500" id="poskodbe">{{ konj.poskodbe }}</textarea>
            </label>
      <label for="bolezni"><b>Opis bolezni</b></label>
            <label class="textareaContainer">
             <textarea placeholder="Na kratko opišite bolezni konja če jih ima." maxlength="500" id="bolezni">{{ konj.bolezni }}</textarea>
            </label>
       <label for="rezultati"><b>Rezultati</b></label>
            <label class="textareaContainer">
             <textarea placeholder="Tukaj dodajte link do rezultatov, če jih konj ima." maxlength="500" id="rezultati">{{ konj.rezultati }}</textarea>
            </label>
       <label for="link_konjeniska_zveza"><b>Konjeniška zveza</b></label>
            <label class="textareaContainer">
          <textarea placeholder="Tukaj dodajte link do konjeniške zveze." maxlength="500" id="link_konjeniska_zveza">{{ konj.linkOdKonjeniskeZveze  }}</textarea>
            </label>

    <h3>Veterinarski pregledi </h3><br>
      <b>Označite vse veterinarske preglede pri katerih je bil konj </b> <br>

            {% for pregled,spada in pregledi %}
                {% if spada %}  <input type="checkbox" name="pregledi" value="{{ pregled.vrstaPregledaID }}" checked> {{ pregled.imePregleda  }} <br>

                {% else %}
                        <input type="checkbox" name="pregledi" value="{{ pregled.vrstaPregledaID }}"> {{ pregled.imePregleda  }} <br>
                {% endif %}
          {% endfor %}
          <br><br>





     <h3>Lokacija </h3><br>
        <label for="regijaID"><b>Regija konja<font color="red">*</font></b></label>
            <select id="regijaID" class="izbira">
                <option value="{{ trenutna_regija.regijaID }}">{{ trenutna_regija.imeRegije }} </option>

                {% for regija in regije %}
                    <option value="{{ regija.regijaID }}"> {{ regija.imeRegije }} </option>
                {% endfor %}
            </select>

  <h3>Lastnik</h3><br>
      <label for="lastnik"><b>Izberite, da če ste lastnik konja<font color="red">*</font></b></label>
            <select id="lastnik" class="izbira">
                {% if konj.je_lastnik == 1 %}
                    <option value="1">Da</option>
                    <option value="0">Ne</option>
                {% endif %}

                {% if konj.je_lastnik == 0 %}
                    <option value="0">Ne</option>
                    <option value="1">Da</option>
                {% endif %}


            </select>


    <p id="status" style="text-align:center"></p>

    <div class="row justify-content-center">
        <!-- <button type="submit" class="registerbtn">Spremeni konja</button> -->
        <button type="submit" class="btn btn-primary">Spremeni konja</button>
    </div>
    <p></p>

  </div>

</form>
</div>
<script src="{% static 'konj/spremeni_konja/spremeni_konja.js' %}"></script>
{% endblock %}
