{% extends "konj/uporabnik_base.html" %}

{% load static %}

{% block imports %}
<link rel="stylesheet" type="text/css" href="{% static 'konj/uporabnik_index/uporabnik_index.css' %}">
{% endblock %}

{% block body %}
<script src="{% static 'konj/uporabnik_index/uporabnik_index.js' %}"></script>

<div class="container">
    {% for konj in konji %}
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div class="card ponudbaSlika d-flex justify-content-center align-items-center">
                        {% if konj.konj.slika %}
                            <img src="{{ res.konj.slika }}" class="img-fluid" alt="slika konja">
                        {% else %}
                            <label class="p-2">Ni slike</label>
                        {% endif %}
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-6">
                            <div>
                                Ime: {{ konj.konj.imeKonja }}
                            </div>
                            <hr/>
                            <div>
                                {% if konj.konj.starostKonja != -1 %}
                                    Starost: {{ konj.konj.starostKonja }} mes
                                {% else %}
                                    Starost:
                                {% endif %}
                            </div>
                            <hr/>
                            <div>
                                {% if konj.konj.tezaKonja != -1 %}
                                    Teža: {{ konj.konj.tezaKonja }} kg
                                {% else %}
                                    Teža:
                                {% endif %}
                            </div>
                            <hr/>
                            <div>
                                {% if konj.konj.visinaKonja != -1 %}
                                    Višina: {{ konj.konj.visinaKonja }} cm
                                {% else %}
                                    Višina:
                                {% endif %}
                            </div>
                            <hr/>
                            <div>
                                Pasma: {{ konj.konj.pasma.imePasme }}
                            </div>
                            <hr/>
                            <div>
                                Rokovanje: {{ konj.konj.rokovanje.imeRokovanja }}
                            </div>
                            <hr/>
                            <div>
                                Jahljivost: {{ konj.konj.jahljivost.imeJahljivosti }}
                            </div>
                        </div>
                        <div class="col-6 d-flex flex-column">
                            <div>
                                Regija: {{ konj.konj.regija.imeRegije }}
                            </div>
                            <hr/>
                            <div>
                                Kategorije: 
                                {% for kategorija in konj.konj.kategorije %}
                                    {% if not forloop.last %}
                                        {{ kategorija.imeKategorije }},
                                    {% else %}
                                        {{ kategorija.imeKategorije }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <hr/>
                            <div>
                                Cena: {{ konj.ponudba.cena }} €
                            </div>
                            <div class="d-flex flex-column align-items-end mt-auto m-3">
                                <div class="row">
                                    <a href="{% url  'konj:spremeni_konja' id=konj.konjID %}" class="btn btn-primary" role="button" aria-pressed="true">Spremeni ponudbo</a>
                                </div>
                                <div class="row mt-1">
                                    <a href="{% url  'konj:dodaj_slika_konj' id=konj.konjID %}" class="btn btn-primary" role="button" aria-pressed="true">Dodaj sliko konja</a>
                                </div>
                                <div class="row mt-1">
                                    <a href="javascript:izbrisi('{{ konj.konjID }}')" class="btn btn-primary" role="button" aria-pressed="true">Izbriši ponudbo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script src="{% static 'konj/uporabnik_index/uporabnik_index.js' %}"></script>
{% endblock %}
