{% extends "konj/uporabnik_base.html" %}

{% load static %}

{% block imports %}
<link rel="stylesheet" href="{% static 'konj/home/home.css' %}">
{% endblock %}

{% block body %}
<script src="{% static 'konj/home/home.js' %}"></script>
<script>
    var starostMinMin = {{ starostMinMin }};
    var starostMaxMax = {{ starostMaxMax }};
    var tezaMinMin = {{ tezaMinMin }};
    var tezaMaxMax = {{ tezaMaxMax }};
    var visinaMinMin = {{ visinaMinMin }};
    var visinaMaxMax = {{ visinaMaxMax }};
</script>
<div class="container my-3">
    <img src="{% static 'media/horses-croped.webp' %}" class="img-fluid mx-auto d-block home-back-img" alt="horses">
    <div class="row justify-content-center mt-3 home-search-field">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Iskanje konjev</h5>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="d-flex">
                                        <div class="mr-auto">Pasma</div>
                                        <div><i class="fas fa-caret-down"></i></div>
                                    </div>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for pasma in pasme %}
                                        <div class="form-check dropdown-item dropdown-checkbox-item">
                                            <input class="form-check-input" type="checkbox" name="pasma" value="{{ pasma.pasmaIme }}" id="pasma-{{ pasma.pasmaID }}">
                                            <label class="form-check-label" for="pasma-{{ pasma.pasmaID }}">
                                                {{ pasma.pasmaIme }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="dropdown mt-2">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="d-flex">
                                        <div class="mr-auto">Kategorija</div>
                                        <div><i class="fas fa-caret-down"></i></div>
                                    </div>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for kategorija in kategorije %}
                                        <div class="form-check dropdown-item dropdown-checkbox-item">
                                            <input class="form-check-input" type="checkbox" name="kategorija" value="{{ kategorija.imeKategorije }}" id="kategorija-{{ kategorija.kategorijaID }}">
                                            <label class="form-check-label" for="kategorija-{{ kategorija.kategorijaID }}">
                                                {{ kategorija.imeKategorije }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="dropdown mt-2">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="d-flex">
                                        <div class="mr-auto">Rokovanje</div>
                                        <div><i class="fas fa-caret-down"></i></div>
                                    </div>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for rokovanje in rokovanja %}
                                        <div class="form-check dropdown-item dropdown-checkbox-item">
                                            <input class="form-check-input" type="checkbox" name="rokovanje" value="{{ rokovanje.imeRokovanja }}" id="rokovanje-{{ rokovanje.rokovanjeID }}">
                                            <label class="form-check-label" for="rokovanje-{{ rokovanje.rokovanjeID }}">
                                                {{ rokovanje.imeRokovanja }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="dropdown mt-2">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="d-flex">
                                        <div class="mr-auto">Jahljivost</div>
                                        <div><i class="fas fa-caret-down"></i></div>
                                    </div>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for jahljivost in jahljivosti %}
                                        <div class="form-check dropdown-item dropdown-checkbox-item">
                                            <input class="form-check-input" type="checkbox" name="jahljivost" value="{{ jahljivost.imeJahljivosti }}" id="jahljivost-{{ jahljivost.jahljivostID }}">
                                            <label class="form-check-label" for="jahljivost-{{ jahljivost.jahljivostID }}">
                                                {{ jahljivost.imeJahljivosti }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="dropdown my-2">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="d-flex">
                                        <div class="mr-auto">Regija</div>
                                        <div><i class="fas fa-caret-down"></i></div>
                                    </div>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for regija in regije %}
                                        <div class="form-check dropdown-item dropdown-checkbox-item">
                                            <input class="form-check-input" type="checkbox" name="regija" value="{{ regija.imeRegije }}" id="regija-{{ regija.regijaID }}">
                                            <label class="form-check-label" for="regija-{{ regija.regijaID }}">
                                                {{ regija.imeRegije }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="px-3">
                                <h6>Starost</h6>
                                <div class="app-slider ">
                                    <input id="starostSlider"/>
                                </div>
                                <div class="d-flex">
                                    <label class="mr-auto" id="starostMin"></label> 
                                    <label id="starostMax"></label>
                                </div>
                            </div>
                            <div class="px-3">
                                <h6>Teža</h6>
                                <div class="app-slider ">
                                    <input id="tezaSlider"/>
                                </div>
                                <div class="d-flex">
                                    <label class="mr-auto" id="tezaMin"></label> 
                                    <label id="tezaMax"></label>
                                </div>
                            </div>
                            <div class="px-3">
                                <h6>Višina</h6>
                                <div class="app-slider ">
                                    <input id="visinaSlider"/>
                                </div>
                                <div class="d-flex">
                                    <label class="mr-auto" id="visinaMin"></label> 
                                    <label id="visinaMax"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <button id="iskanje" type="button" class="btn btn-primary">Iskanje</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Opis</h5>
                    <p class="card-text">
                        Konji.net so prvi slovenski spletni portal ustvarjen in prilagojen izključno za namen nakupa in prodaje vseh vrst konj.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}