{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Konj.net</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">

    <script src="{% static 'bootstrapSlider/bootstrap-slider.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrapSlider/bootstrap-slider.min.css' %}">

    <link rel="stylesheet" href="{% static 'bootstrap-overwrite.css' %}">

    {% block imports %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Konji.net</a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="/uporabnik_index">Moje ponudbe</a>
                    <a class="nav-item nav-link" href="/dodaj_konja">Ustvari ponudbo</a>
                    <a class="nav-item nav-link" href="/profil">Moj profil</a>
                    <a class="nav-item nav-link" href="/profilna_slika">Profilna slika</a>
                    <a class="nav-item nav-link" href="/login">Odjava</a>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-3">

    </div>
    {% block body %}{% endblock %}
    <footer class="page-footer font-small bg-dark text-white">
        <div class="container">
            <div class="py-2">
                TPO konji.net
            </div>
        </div>
    </footer>

</body>
</html>