{% extends "konj/uporabnik_base.html" %}

{% load static %}

{% block imports %}
<link rel="stylesheet" href="{% static 'konj/search/search.css' %}">
{% endblock %}

{% block body %}
<script src="{% static 'konj/search/search.js' %}"></script>
<script>
    var pasmaSelected = {{ pasmaSelected|safe }};
    var kategorijaSelected = {{ kategorijaSelected|safe }};
    var rokovanjeSelected = {{ rokovanjeSelected|safe }};
    var jahljivostSelected = {{ jahljivostSelected|safe }};
    var regijaSelected = {{ regijaSelected|safe }};
    var starostMin = {{ starostMin }};
    var starostMax = {{ starostMax }};
    var tezaMin = {{ tezaMin }};
    var tezaMax = {{ tezaMax }};
    var visinaMin = {{ visinaMin }};
    var visinaMax = {{ visinaMax }};
    var starostMinMin = {{ starostMinMin }};
    var starostMaxMax = {{ starostMaxMax }};
    var tezaMinMin = {{ tezaMinMin }};
    var tezaMaxMax = {{ tezaMaxMax }};
    var visinaMinMin = {{ visinaMinMin }};
    var visinaMaxMax = {{ visinaMaxMax }};
</script>
<div class="container my-3">
    <img src="{% static 'media/horses-croped.webp' %}" class="img-fluid mx-auto d-block home-back-img" alt="horses">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h5>Pasme</h5>
                        {% for pasma in pasme %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="pasma" value="{{ pasma.pasmaIme }}" id="pasma-{{ pasma.pasmaID }}">
                                <label class="form-check-label" for="pasma-{{ pasma.pasmaID }}">
                                    {{ pasma.pasmaIme }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mt-3">
                        <h5>Kategorije</h5>
                        {% for kategorija in kategorije %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="kategorija" value="{{ kategorija.imeKategorije }}" id="kategorija-{{ kategorija.kategorijaID }}">
                                <label class="form-check-label" for="kategorija-{{ kategorija.kategorijaID }}">
                                    {{ kategorija.imeKategorije }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mt-3">
                        <h5>Rokovanje</h5>
                        {% for rokovanje in rokovanja %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="rokovanje" value="{{ rokovanje.imeRokovanja }}" id="rokovanje-{{ rokovanje.rokovanjeID }}">
                                <label class="form-check-label" for="rokovanje-{{ rokovanje.rokovanjeID }}">
                                    {{ rokovanje.imeRokovanja }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mt-3">
                        <h5>Jahljivost</h5>
                        {% for jahljivost in jahljivosti %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="jahljivost" value="{{ jahljivost.imeJahljivosti }}" id="jahljivost-{{ jahljivost.jahljivostID }}">
                                <label class="form-check-label" for="jahljivost-{{ jahljivost.jahljivostID }}">
                                    {{ jahljivost.imeJahljivosti }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mt-3">
                        <h5>Regija</h5>
                        {% for regija in regije %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="regija" value="{{ regija.imeRegije }}" id="regija-{{ regija.regijaID }}">
                                <label class="form-check-label" for="regija-{{ regija.regijaID }}">
                                    {{ regija.imeRegije }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mt-3">
                        <h5>Starost</h5>
                        <div class="px-3">
                            <div class="app-slider ">
                                <input id="starostSlider"/>
                            </div>
                            <div class="d-flex">
                                <label class="mr-auto" id="starostMin"></label> 
                                <label id="starostMax"></label>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5>Teža</h5>
                        <div class="px-3">
                            <div class="app-slider ">
                                <input id="tezaSlider"/>
                            </div>
                            <div class="d-flex">
                                <label class="mr-auto" id="tezaMin"></label> 
                                <label id="tezaMax"></label>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5>Višina</h5>
                        <div class="px-3">
                            <div class="app-slider ">
                                <input id="visinaSlider"/>
                            </div>
                            <div class="d-flex">
                                <label class="mr-auto" id="visinaMin"></label> 
                                <label id="visinaMax"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="form-group d-flex justify-content-end">
                <div>
                    <label>Razvrsti: </label>
                    <select class="form-control" id="sorting">
                        <option value="cena-">Cena (-)</option>
                        <option value="cena+">Cena (+)</option>
                        <option value="starost-">Starost (-)</option>
                        <option value="starost+">Starost (+)</option>
                        <option value="teza-">Teža (-)</option>
                        <option value="teza+">Teža (+)</option>
                        <option value="visina-">Višina (-)</option>
                        <option value="visina+">Višina (+)</option>
                    </select>
                </div>  
            </div>
            <div id="searchResults"></div>
        </div>
    </div>
</div>
{% endblock %}